# Django General
DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=4j9(dvb^#!e)s*5iz%c!5%b-&#olvrbp#k)sv9))r&8+&rx32_
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (Local)
POSTGRES_DB=client_portal_db
POSTGRES_USER=client_portal
POSTGRES_PASSWORD=strongpassword
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Database (Production / Neon)
# DATABASE_URL=postgres://user:pass@host:port/db

# Email (Console for dev, SMTP for prod)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=

# Domains
FRONTEND_URL=https://mela-client-portal.vercel.app
SITE_DOMAIN=localhost:8000
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,https://mela-client-portal.vercel.app
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://localhost:5174,https://mela-client-portal.vercel.app

# Cloudinary (Production only)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
